<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <h1>Hi {{name}},This is your verify code</h1>
        <br></br>
        <p>{{ verifyCode}}</p>
    </body>
</html>